* {
    box-sizing: border-box;
}

img {
    height: 50px;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    margin: 0;
    background: #f5f6f9;
}

header {
    background-color: white;
    height: 65px;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    justify-content: space-between;
    box-shadow: 0px 3px 10px 0 rgba(80, 119, 242, 0.3);
}

nav ul {
    display: flex;
    list-style: none;
    gap: 15px;
    padding: 0;
    margin: 0;
}

nav ul li {
    cursor: pointer;
}

nav ul li:hover {
    color: #4361ee;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Add even spacing between navigation elements */
    padding: 0 20px; /* Add padding on both sides of the navigation elements */
}

.desktop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
}

.desktop nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

.desktop nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.desktop nav ul li {
    cursor: pointer;
}

.desktop nav ul li:hover {
    color: #4361ee;
}

.desktop .InputSearch {
    display: flex;
    align-items: center;
    height: 40px;
    width: 400px;
    border-radius: 35px;
    background-color: red;
    overflow: hidden;
    border: 1.5px solid #4361ee;
}

.desktop .InputSearch input {
    width: 100%;
    height: 100%;
    padding: 0px 15px;
    border: none;
    outline: none;
    font-size: 16px;
}

.desktop .InputSearch span {
    width: 70px;
    background-color: #4361ee;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.mobile {
    position: absolute;
    top: 75px;
    width: 100%;
    max-width: 700px;
    background-color: #f5f6f9;
    height: calc(100% - 150px);
    padding: 10px;
    display: none;
}

.mobile nav,
.mobile nav ul {
    flex-direction: column;
}

.mobile .InputSearch {
    height: 35px;
    width: 95%;
    margin: 10px auto;
}

.mobile .InputSearch input {
    width: 100%;
    height: 100%;
    padding: 0px 15px;
    border: none;
    outline: none;
    font-size: 16px;
}

.mobile .InputSearch span {
    width: 70px;
    background-color: #4361ee;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.hidden {
    display: none;
}

@media all and (max-width: 700px) {
    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }
}
